<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PostHog</key>
    <dict>
        <key>APIKey</key>
        <string>YOUR_POSTHOG_API_KEY_HERE</string>
        <key>Host</key>
        <string>https://us.i.posthog.com</string>
        <key>Environment</key>
        <string>production</string>
    </dict>
</dict>
</plist>